flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7badb0af.59099","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["658d569b.2d5408"]]},{"id":"658d569b.2d5408","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":140,"wires":[]},{"id":"9851d6b2.02f848","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["c6d88c.fb72e778"]]},{"id":"dd693078.17202","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":440,"y":320,"wires":[]},{"id":"c6d88c.fb72e778","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["dd693078.17202"]]}]