flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a55a54e4.676188","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"d965e53a.481978","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d965e53a.481978","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"7badb0af.59099","type":"inject","z":"3af82246.3634ae","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"${WWW}","payloadType":"str","x":120,"y":180,"wires":[["658d569b.2d5408"]]},{"id":"658d569b.2d5408","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":140,"wires":[]},{"id":"9851d6b2.02f848","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["c6d88c.fb72e778"]]},{"id":"dd693078.17202","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":450,"y":280,"wires":[]},{"id":"c6d88c.fb72e778","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["dd693078.17202"]]},{"id":"2726cfd.9953a3","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"a55a54e4.676188","x":90,"y":560,"wires":[["d547661c.cbbd38"]]},{"id":"d547661c.cbbd38","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":560,"wires":[]},{"id":"474bff21.b5f0d","type":"inject","z":"3af82246.3634ae","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":440,"wires":[["1603f909.084e47"]]},{"id":"1603f909.084e47","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":460,"wires":[["d8604ba.8ece5b8"]]},{"id":"d8604ba.8ece5b8","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"a55a54e4.676188","x":410,"y":480,"wires":[]}]